<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to BITS'22</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/form.css">
  </head>
  <body>
    <center><h1>Welcome Moderator, Start by adding and reviewing more tasks?</h1></center><br>
    <center><form id="mainform"class="needs-validation" method="POST" action="/addtask/success">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Task Title</label>
          <input type="text" class="form-control" name="title" id="validationCustom01" placeholder="A Beautiful Task" required>
          <div class="invalid-feedback">
            You must type a title for the task
          </div>
        </div><br>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Small Description</label>
          <input type="text" class="form-control" name="smalldescription" id="validationCustom01" placeholder="A Beautiful small description for the beautiful task" maxlength="100" required>
          <div class="invalid-feedback">
            You must type a small description for your task
          </div>
        </div><br>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Big Description</label>
          <input type="text" class="form-control" name="bigdescription" id="validationCustom01" placeholder="A Beautiful big description for the beautiful task" maxlength="2000" required>
          <div class="invalid-feedback">
            You must type a big description for your task
          </div>
        </div><br>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Task Category</label>
          <input type="text" class="form-control" name="category" id="validationCustom01" placeholder="The category of this task" maxlength="10" required>
          <div class="invalid-feedback">
            You must type the category of your task
          </div>
        </div><br>
        <div class="col-12" style="display: flex; justify-content: center;">
          <button type="submit" class="btn btn-primary">Create</button>
        </div><br>
      </form>
     </center><br><br>
     <!-- <center><div class="row row-cols-1 row-cols-md-3 g-4">
      <% taskData.forEach(function(data) { %>
        <div class="col">
          <div class="card">
            <div class="card-body">
            <h5 class="card-title"><%= data.task_title %></h5>
            <p class="card-text"><%= data.task_description %></p>
            <p class="card-text">SUBMITTED By: <%= data.username %></p>
            <button type="button" class="btn btn-warning" id="btn-id-<%= data.task_id %>" onclick="clickEventHandler(event)">View Project Materials</button><br>
            <br><div id="popup-id-<%= data.task_id %>" class="popup">
              <div class="card">
                <div class="card-body">
                  Material URL - <b><%= data.project_url %></b><br>
                  Extra Information - <b><%= data.feedback %></b><br>
                  <button type="button" class="btn cancel" id="btn-id-<%= data.task_id %>" onclick="closeEventHandler(event)">Close</button>
                </div>
              </div>
            </div><br>
              <button type="button" class="btn btn-primary" id="btn-id2-<%= data.task_id %>" onclick="clickEventHandler2(event)">Approve Task</button><br>
              <div class="popup" id="popup-id2-<%= data.task_id %>">
                <form action="/admin/task/approve/<%= data.task_id %>/<%= data.userid %>" method="POST"><br>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Points for the task</label>
                    <input type="number" class="form-control" name="points" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Please type how many points you want to give to this task</div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn cancel" id="btn-id2-<%= data.task_id %>" onclick="closeEventHandler2(event)">Close</button>
                </form>
              </div><br>
              <button type="button" class="btn btn-danger" id="btn-id3-<%= data.task_id %>" onclick="clickEventHandler3(event)">Decline Task</button>
            <div class="popup" id="popup-id3-<%= data.task_id %>">
              <form action="/admin/task/decline/<%= data.task_id %>/<%= data.userid %>" method="POST"><br>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Reason for Denial</label>
                  <input type="text" class="form-control" name="denialreason" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Please type your reason for the task denial</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn cancel" id="btn-id3-<%= data.task_id %>" onclick="closeEventHandler3(event)">Close</button>
              </form>
            </div>
            </div>
          </div>
          </div>
      <% }) %>
      </center>
    </div> -->
    <center><a class="btn btn-primary" href="/admin/tasks/coding" role="button">Coding Tasks</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/admin/tasks/design" role="button">Design Tasks</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/admin/tasks/explore" role="button">Explore Tasks</a></center>
    <script>

      const clickEventHandler = (event) => {
        const id = "popup-id-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="block"
      }

      const closeEventHandler = (event) => {
        const id = "popup-id-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="none"
      }

      const clickEventHandler2 = (event) => {
        const id = "popup-id2-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="block"
      }

      const closeEventHandler2 = (event) => {
        const id = "popup-id2-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="none"
      }

      const clickEventHandler3 = (event) => {
        const id = "popup-id3-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="block"
      }

      const closeEventHandler3 = (event) => {
        const id = "popup-id3-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="none"
      }

      </script>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>