<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/form.css">
  </head>
    <body>
		<center><h2><u>Welcome back <%= userData.username %></u></h2></center><br>
		<center><u><h2>Choosed Tasks</h2></u><br>
			<% if (choosedResults.length === 0) { %>
				<h4>You've not choosen any tasks. Choose one <a class="btn btn-primary" href="/tasks" role="button">Go to Tasks</a><br>
				</h4>
			 <% } else { %>
				<div class="row row-cols-1 row-cols-md-3 g-4">
					<% choosedResults.forEach(function(data) { %>
						<div class="col">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title"><%= data.task_title %></h5>
								<p class="card-text"><%= data.task_description %></p> 
								<a href="https://pasindudushan-bits22-444xv6j4cj59r-3000.githubpreview.dev/task/<%= data.task_id %>" class="btn btn-primary">Go to Task Page</a><br><br>
								<button type="button" class="btn btn-primary" id="btn-id-<%= data.task_id %>" onclick="clickEventHandler(event)">Submit Task</button><br>
								<div class="popup" id="popup-id-<%= data.task_id %>">
								<form action="/task/submit/<%= data.task_id %>" method="post"><br>
								  <div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">URL of the project (Drive, Box)</label>
									<input type="text" class="form-control" name="url" id="exampleInputEmail1" aria-describedby="emailHelp" required>
									<div id="emailHelp" class="form-text">Please type the URL of your uploaded project. It can be any URL that redirects to your created project</div>
								  </div>
								  <div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Any extra information you would like to share?</label>
									<input type="text" class="form-control" name="feedback" id="exampleInputEmail1" aria-describedby="emailHelp" value="None">
									<div id="emailHelp" class="form-text">Please type any information you want to share with the task reviewer such as how they want to open and run the project.</div>
								  </div>
								  <button type="submit" class="btn btn-primary">Submit</button>
								  <button type="button" class="btn cancel" id="btn-id-<%= data.task_id %>" onclick="closeEventHandler(event)">Close</button>
								</form>
							  </div><br>
							  </div>
							</div>
						  </div>
					<% }) %>
				</div>
			 <% } %><br><br>
			<h2><u>Pending Tasks</u></h2><br>
			<% if (pendingResults.length === 0) { %>
				<h4>You don't have any approval pending task. Submit a task :))</h4>
			 <% } else { %>
				<div class="row row-cols-1 row-cols-md-3 g-4">
					<% pendingResults.forEach(function(data) { %>
						<div class="col">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title"><%= data.task_title %></h5>
								<p class="card-text"><%= data.task_description %></p>
								<a href="https://pasindudushan-bits22-444xv6j4cj59r-3000.githubpreview.dev/task/<%= data.task_id %>" class="btn btn-primary">Go to Task Page</a><br><br>
							  </div>
							</div>
						  </div>
					<% }) %>
				</div>
			 <% } %><br><br>
			<h2><u>Accepted Tasks</u></h2><br>
			<% if (approvedResults.length === 0) { %>
				<h4>You don't have any approved tasks right now</h4>
			 <% } else { %>
				<div class="row row-cols-1 row-cols-md-3 g-4">
					<% approvedResults.forEach(function(data) { %>
						<div class="col">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title"><%= data.task_title %></h5>
								<p class="card-text"><%= data.task_description %></p>
								<p class="card-text"><b>This is an accepted task</b></p>
							  </div>
							</div>
						  </div>
					<% }) %>
				</div>
			 <% } %><br><br>
			<h2><u>Declined Tasks</u></h2>
			<% if (declinedResults.length === 0) { %>
				<h4>You don't have any declined tasks. Nice Work!</h4>
			 <% } else { %>
				<div class="row row-cols-1 row-cols-md-3 g-4">
					<% declinedResults.forEach(function(data) { %>
						<div class="col">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title"><%= data.task_title %></h5>
								<p class="card-text"><%= data.task_description %></p>
								<p class="card-text">Denial Reason: <%= data.denial_reason %></p>
								<a href="https://pasindudushan-bits22-444xv6j4cj59r-3000.githubpreview.dev/task/<%= data.task_id %>" class="btn btn-primary">Go to Task Page</a><br><br>
								<button type="button" class="btn btn-primary" id="btn-id2-<%= data.task_id %>" onclick="clickEventHandler2(event)">Re-Submit Task</button><br>
								<div class="popup" id="popup-id2-<%= data.task_id %>">
								<form action="/task/resubmit/<%= data.task_id %>" method="post"><br>
								  <div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">URL of the project (Drive, Box)</label>
									<input type="text" class="form-control" name="url" id="exampleInputEmail1" aria-describedby="emailHelp" required>
									<div id="emailHelp" class="form-text">Please type the URL of your uploaded project. It can be any URL that redirects to your created project</div>
								  </div>
								  <div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Any extra information you would like to share?</label>
									<input type="text" class="form-control" name="feedback" id="exampleInputEmail1" aria-describedby="emailHelp" value="None">
									<div id="emailHelp" class="form-text">Please type any information you want to share with the task reviewer such as how they want to open and run the project.</div>
								  </div>
								  <div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">UUID</label>
									<input type="text" class="form-control" name="uuid" id="exampleInputEmail1" aria-describedby="emailHelp" value="IOIHFOE$!#%4264276L427BI2L4762OI4762$&^@$^@$^@^124^26HI24H624^h24I6H2$i^H42i6H42I6HI@$^h42I6H2I4H6246iohoIHIOH" disabled>
									<div id="emailHelp" class="form-text">Please ignore this field and submit</div>
								  </div>
								  <button type="submit" class="btn btn-primary">Submit</button>
								  <button type="button" class="btn cancel" id="btn-id2-<%= data.task_id %>" onclick="closeEventHandler2(event)">Close</button>
								</form>
							  </div><br>
							  </div>
							</div>
						  </div>
					<% }) %>

				</div>
			 <% } %><br><br></center>

	<script>
	  const clickEventHandler = (event) => {
        const id = "popup-id-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="block"
      }

      const closeEventHandler = (event) => {
        const id = "popup-id-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="none"
      }

      const clickEventHandler2 = (event) => {
        const id = "popup-id2-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="block"
      }

      const closeEventHandler2 = (event) => {
        const id = "popup-id2-"+event.target.id.split('-')[2];
        document.getElementById(id).style.display="none"
      }
	</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>