<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
  </head>
  <body>
    <center><p><h3><u><%= title %></u></h3></p><br><md-block><%= description %></md-block></center>
    <center>
      <button type="submit" class="btn btn-primary" id="btn-id-<%= id %>" onclick="clickEventHandler(event)">Submit Task</button><br>
      <div class="popup" id="popup-id-<%= id %>" style="display: none;">
        <form action="/task/submit/<%= id %>" method="post"><br>
          <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">URL of the project (Drive, Box)</label>
          <input type="text" class="form-control" name="url" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">Please type the URL of your uploaded project. It can be any URL that redirects to your created project</div>
          </div>
          <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Any extra information you would like to share?</label>
          <input type="text" class="form-control" name="feedback" id="exampleInputEmail1" aria-describedby="emailHelp" value="None">
          <div id="emailHelp" class="form-text">Please type any information you want to share with the task reviewer such as how they want to open and run the project.</div>
          </div>
          <input type="hidden" name="task" value="<%= category %>" />
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn cancel" id="btn-id-<%= id %>" onclick="closeEventHandler(event)">Close</button>
        </form>
        </div><br>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <script>
      const clickEventHandler = (event) => {
          const id = "popup-id-"+event.target.id.split('-')[2];
          document.getElementById(id).style.display="block"
        }
  
        const closeEventHandler = (event) => {
          const id = "popup-id-"+event.target.id.split('-')[2];
          document.getElementById(id).style.display="none"
        }
    </script>
  </body>
</html>